
{% extends 'partials/acc_base.html' %}


{% block content %}
{% include "partials/acc_navbar.html"%}

<div class="container-fluid">
    <h1>Sign Up</h1>

    <form method="POST">
        {% csrf_token %}
        <table class="table table-hover align-middle">
            {{form}}
        </table>
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        <br>
        Got an account already? <a href="" target=""><strong>Login</strong></a> instead.
    </form>

</div>

{% endblock %}