{% extends 'base.html' %}
{% load static %}

{% block title %} Search {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/totalsearch.css' %}">
<div class="searchform">
  <form method="GET">
    {{ f.form }}
    <input type="submit" />
  </form>
  {% for obj in f.qs %}
  {{ obj.user.get_full_name }} <br />
  {% endfor %}


  <!-- <select class="form-select type-select" aria-label="type-select" required>
            <option value="" selected disabled> Study Type </option>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
          <select class="form-select loc-select" aria-label="loc-select">
            <option value="" selected disabled> Location </option>
            <option value="tlv">TLV</option>
            <option value="jer">JER</option>
            <option value="haif">HAIF</option>
          </select>
          <select class="form-select lang-select" aria-label="lang-select">
            <option value="" selected disabled> Spoken Language </option>
            <option value="heb">Heb</option>
            <option value="eng">Eng</option>
            <option value="rus">Rus </option>
          </select>
        </div>

        <div class="input-field">
          <input class="form-control skill-input" id="choices-text-preset-values" type="text"
            placeholder="Type to search skills..." required />
          <button class="btn-search" type="button"> Search </button>
          <button class="btn-reset" type="reset" value="Reset"> Reset </button> -->
  <!-- <div class="suggestion-wrap">
            <span>Django </span>
            <span>JavaScript </span>
            <span>Python </span>
            <span>Java </span>
            <span>Kotlin </span>
          </div> -->
</div>
</div>
</fieldset>
</form>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ f.form.media }}
{% endblock %}