body{
    background-color: palegoldenrod;
}

header{
    text-decoration: underline double orange 3px;
}

article {
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
}

div.parent {
    height: 300px;
    width: 300px;
    border: double 2px purple;
    margin: 50px;
    padding: 20px;
}

div.child {
    border: solid 2px pink;

}