body {
    background-image: url(background_3.jpg);
    background-size: cover;
    
}


/* NAV */
.nav {
    height: 10vh;
    font-weight: bold;
}

.nav i {
    font-size: 10vh;
    color: whitesmoke;
}


nav a {
    text-decoration: none;
    color: whitesmoke
}

/* MAIN TEXT*/

.main {
    height: 50vh;
    margin-bottom: 10vh;
}

.features {
    height: 50vh;
}

.about {
    text-align: center;
}

.about p {
    text-align: center;
    font-size: 2em;
}

.text {
    margin-top: 10vh;
    font-weight: bold;
    /* margin-left: 5vh;
    margin-right: 5vh; */
}




/* FEATURES */
.features {
    height: 50vh;
    margin-top: 6vh;
    text-align: center;
    background-color: whitesmoke;

}

i {
    font-size: 8vh;
    margin-top: 3vh;

}

h3 {
    margin-top: 2vh;
}


