body {
    background-color: rgb(49, 44, 71);
    background-image: url(/static/bc3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}


h1 {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rebeccapurple;
}

p, h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

