div {
  width: 100px;
  height: 100px;
  color:white;
}

.container {
  display: flex;
  /*FLEX DIRECTION - can reverse etc*/
  flex-direction: column;
  background: #F60009;
  height: 500px;
  width: 500px;
}

.first {
  display: flex;
  background: #53007A;
  /*VERTICAL*/
  align-items: flex-start;
  /*HORIZONTAL*/
  justify-content: space-around;
  /*ORDER  -1 first, highest last */
  
}

.second {
  background: #FC9709;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;

}

.third {
  background: #A800DF;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: center;
}

.fourth {
  background: #8BE7E6;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  order: 3;
}

.fifth {
  background: #93B112;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sixth {
  background: #E6F0BA;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  
}