body {
    margin: auto 0;
}

.zone {
    /* display: inline-block; */
    color: black;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;  
}
/* NAV */
.main_nav {
    background-color: darkcyan;
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}
li {
    padding: 20px
}

a {
    color: #f5f5f5;
    text-decoration: none
}

.right {
    margin-left: auto;
}

/* COVER */
/* usually flex as most of time not many items in cover */
.container { 
    background-color: lightsalmon;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* PROJECT / Grid not working, even when fully followed online learning tutorial */
.grid-wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto);
    grid-template-columns: minmax(300px,1fr);
    /* grid-template-columns: repeat (auto-fill, minmax (350px,1fr)); */
}

.box > img {
    width: 50%;
}

