{% extends 'base.html' %}

{% load static %}

{% block title %}Rental{% endblock %}

{% block content %}

<h1>Rentals</h1>

<button class="btn btn-primary"><a href="{% url 'customer' %}">To Customers</a></button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Rental Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rental %}
        <tr>
            <td>{{rental.customer}}</td>
            <td>{{rental.vehicle}}</td>
            <td>{{rental.rental_date}}</td>
            <td>{{rental.return_date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}