/* PART 1 */

.cont {
    border: 6px solid black;
}

.first {
    border: 4px solid green;
}

.one {
    border: 2px solid greenyellow;
}

.second {
    border: 4px solid orange;
}
.two {
    border: 2px solid yellow;
}



/* PART 2 */
/* .cont {
    border: 6px solid black;
}

.first {
    border: 4px solid green;
}

.one {
    border: 2px solid greenyellow;
}

.second {
    border: 4px solid orange;
}
.two {
    border: 2px solid yellow; */