body {
    height: auto;
    width: auto;
    background-color: #E3E1E0;
    font-family: spartan, Arial, Helvetica, sans-serif;
}
/* Navigation Style */
.navigation {
    height: 200px;
    width: auto;
    padding: 20px
}

span.logo {
    position: relative;
    left: 20px;
    bottom: 50px;
}

span.pages {
    float: right;
    display: inline;
}

span.pages li {
    display: inline;
    list-style: none;
    color: #6A5136;
}

/* Pages Style */

li.collection {
    position: relative;
    right: 150px;
    top: 35px;
    font-weight: bold;
}

li.home {
    position: relative;
    right: 100px;
    top: 35px;
    font-weight: bold;
}

li.about{
    position: relative;
    right: 50px;
    top: 35px;
    font-weight: bold;
}

nav a {
    text-decoration: underline solid 2px #EAC689;
    color: #6A5136;
    font-size: 30px;
}

/* form */

#email {
    font-family: spartan, Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    left: 450px;
    margin-bottom: 10px;
}

#pass {
    font-family: spartan, Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    left: 450px;
    margin-top: 10px;
}

#submit {
    font-family: spartan, Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: #EAC689;
    border: 2px solid #EAC689;
    border-radius: 10px;
    position: relative;
    left: 600px;
    margin-top: 20px;
}

div.signup  {
    height: 100px;
    width: 500px;
    position: relative;
    left: 520px;

}


/* footer edit */
footer {
    margin-top: 50px;
}
span.date {
    position: relative;
    left: 20px;
}

span.img_rights {
    float: right;
    font-size: inherit;

}